<link rel="stylesheet" href="../assets/style/menu.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet"> <!--borrar-->
<h1>MENÚ</h1>  

<h1>Hamburguesas</h1>
<div id="grupos">  
    <div class="food-item">  
        <img src="../assets/img/icon-vector-dibujos-animados-hamburguesas-ilustracion-icon-objeto-alimentos-vector-plano-aislado_138676-13218.avif" alt="Hamburguesa de Queso">  
        <h2>Hamburguesa de Queso</h2>  
        <ul>  
            <li>Pan de hamburguesa</li>  
            <li>Carne de res</li>  
            <li>Queso cheddar</li>  
            <li>Lechuga</li>  
            <li>Tomate</li>  
            <li>Cebolla</li>  
            <li>Mayonesa</li>  
            <li>Ketchup</li>  
        </ul>  
        <p>Precio: $13.99</p>  
        <button class="btn">Agregar al carrito</button>  
    </div>  
    
    <div class="food-item">  
        <img src="../assets/img/icon-vector-dibujos-animados-hamburguesas-ilustracion-icon-objeto-alimentos-vector-plano-aislado_138676-13218.avif" alt="Hamburguesa de Pollo">  
        <h2>Hamburguesa de Pollo</h2>  
        <ul>  
            <li>Pan de hamburguesa</li>  
            <li>Pollo empanizado</li>  
            <li>Lechuga</li>  
            <li>Tomate</li>  
            <li>Cebolla</li>  
            <li>Mayonesa</li>  
            <li>Ketchup</li>  
        </ul>  
        <p>Precio: $12.99</p>  
        <button class="btn">Agregar al carrito</button>  
    </div>  
</div>
<h1>Pizza</h1>
<div id="grupos">  
    <div class="food-item">  
        <img src="../assets/img/pizza-rebanada-derretida-flotante-vector-dibujos-animados-icono-ilustracion-icono-objeto-comida-vector-plano-aislado_138676-10422.avif" alt="Hamburguesa de Queso">  
        <h2>Pizza de Queso</h2>  
        <ul>  
            <li>Masa pizza</li>   
            <li>Queso cheddar</li>  
            <li>Salsa de Tomate</li>  
        </ul>  
        <p>Precio: $7.99</p>  
        <button class="btn">Agregar al carrito</button>  
    </div>  
    
    <div class="food-item">  
        <img src="../assets/img/pizza-rebanada-derretida-flotante-vector-dibujos-animados-icono-ilustracion-icono-objeto-comida-vector-plano-aislado_138676-10422.avif" alt="Hamburguesa de Queso">  
        <h2>Pizza Hawaiana</h2>  
        <ul>  
            <li>Masa pizza</li>   
            <li>Queso cheddar</li>  
            <li>Salsa de Tomate</li>  
            <li>Piña</li>
            <li>Jamon</li>
        </ul>  
        <p>Precio: $10.99</p>  
        <button class="btn">Agregar al carrito</button>  
    </div>  
</div>