body{
    margin: 0;
    font-family: system-ui;
    background-color: #223;
    display: grid;
    place-content: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: #fff;
    margin: 9px auto;
}

#game{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(13, 40px);
    grid-template-rows: repeat(13, 40px);
    width: max-content;
    box-shadow: 0 0 16px;
    border-radius: 5px;
}

.cell {
    width: 40px;
    height: 40px;
}

.wall {
    background-color: blue;
}

.path {
    background-color: black;
}

.dot {
    background-color: black;
    position: relative;
}

.dot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 4px yellow;
    background: yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.pacman {
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    transition: transform 0.2s ease;
}

.pacman::after{
    content: "";
    background-color: #000;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, auto);
    border-radius: 10px;
}

.pacman::before{
    content: "";
    position: absolute;
    background-color: #000;
    height: 6.5px;
    width: 6.5px;
    border-radius: 50%;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.score {
    color: white;
    font-size: 24px;

}

.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(4px);
}

.modal-h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.modal-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #218838;
}

.hidden { display: none; }